.gitattributes text eol=lf
*.sh text eol=lf
module/module.prop text eol=lf
module/tools/patcher text eol=lf
module/webroot/cgi-bin/exec text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.md text eol=lf
